
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
}
:root{
    --first-color: #101820ff;
    --second-color: #f2aa4cff;
    --third-color: #000000;
    --fistfont-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a:hover{
    text-decoration: none;
}
ol,li,ul{
    margin: 0;
}
li a{
    font-family: 'Ubuntu', sans-serif;
}
.container,.row,.col-md-12,.col-md-9,.col-md-3{
    padding: 0px;
}
.row{
    margin: 0;
}
#wrapper{
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* ====================== Header ====================== */

#wrapper header{
    height: 3.4rem;
}
#wrapper header .container{
    /* background: rgb(170, 101, 101); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--first-color);
}
header .container .logo a span{
    color: rgb(235, 160, 0);
}
header .container .search_box{
    width: 18rem;
    /* background: rgb(236, 236, 235); */
    padding: 10px;
}
.search_box .input_field{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid var(--first-color);
}
.search_box .input_field input{
    padding: 5px 10px;
    width: calc(100% - 50px);
    outline: none;
    border: none;
}
.search_box .input_field input::placeholder{
    font-style: italic;
    color: gray;
}
.search_box .input_field button{
    width: 50px;
    background: var(--first-color);
    color: white;
    outline: none;
    border: none;
    transition:  all 0.3s ease;
}
.search_box .input_field button:hover{
    color: var(--second-color);
}
@media screen and (max-width: 500px) {
    header .container .logo a{
        font-size: 2.5rem;
    }
    header .container .search_box {
        width: 15rem;
        height: 3.5rem;
    }
    .search_box .input_field input{
        font-size: 0.8rem;
    }
    
}
@media screen and (max-width: 440px){
    header .container .logo a{
        font-size: 2rem;
    }
    header .container .search_box {
        width: 12rem;
        height: 3rem;
    }
    
}
/* ======== X ============ Header ============= X ========= */

/* ==================== Navigation ======================= */

.navigation{
    background: var(--first-color);
    max-width: 100%;
    line-height: 3.44rem;
    margin-top: 1rem;
}
.nav_links .container{
    height: 0;
}
.navigation .container .nav_links{
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav_links li{
    text-align: center;
}
.nav_links li a{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 1.7rem;
    transition: all 0.3s ease;
}
.nav_links li a.active,
.nav_links li a:hover{
    color: var(--second-color);
}


.menu-toggle i{
    display: none;
}
.nav_links li a:hover{
    color: var(--second-color)
}

@media screen and (max-width: 700px) {
    .navigation {
        height: auto;
    }

    .navigation a.active{
        color: var(--second-color);
    }
    .navigation .menu-toggle i{
        font-size: 2.5rem;
        color: #fff;
        line-height: 3.44rem;
        display: inline-block;
    }
    .navigation .container .nav_links{
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: var(--first-color);
        margin-left: 1rem;
        display: none;
        
    }
    .nav_links li{
        /* display: block; */
    }
    .nav_links li a.active,
    .nav_links li a:hover{
        color: var(--second-color);
    }
    
}
@media screen and (max-width: 585px) {
    .menu-toggle i{
        margin-left: 1rem;
    }
    .nav_links{
        margin-left: 2rem;
    }
}
/* =========== x ============ End Navigation ============ x =========== */


/* ====================== Start Banner ==================== */
#banner{
    max-width: 100%;
    height: 500px;
    /* background: blue; */
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* #banner::before{
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999999;
} */
#banner .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner_content{
    padding-top: 8rem;
}
.banner_content h2{
    font-size: 2.5rem;
    font-weight: bolder;
}
.banner_content p{
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    /* padding-top: 0.5rem; */
}
.banner_content button{
    border: none;
    outline: none;
    background: var(--first-color);
    color: var(--second-color);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s ease;
}
.banner_content button:hover{
    background: transparent;
    color: white;
    border: 1px solid var(--second-color);
    
}

@media screen and (max-width: 995px) {
    .banner_content{
        padding-top: 7rem;
    }
    .banner_content h2{
        color: white;
        font-size: 2rem;
    }
    .banner_content p{
        color: white;
    }
    .banner_content button{
        color: white;
        background-color: var(--first-color);
        font-weight: 700;
        border-radius: 3rem;
        border: none;
    }
    .banner_content button:hover{
        background: none;
        border: 1px solid var(--first-color);
        color: var(--second-color);
        

    }
}
@media screen and (max-width: 425px) {
    .banner_content{
        padding-top: 6rem;
    }
}
/* ======= x =========== End Banner ========== x ========= */


/* ================== Start Content =============== */
.content{
    max-width: 100%;
    /* background-color: rgb(255, 232, 232); */
    height: auto;
    padding-top: 30px;
}
/* ============= Start Post Side =========  */
.content .post_side{
    /* background-color: blue; */
    height: auto;
}
.content .heading{
    color: var(--first-color);
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 3px solid var(--first-color);
    padding-bottom: 0.5rem;
    display: block;
    width: calc(100% - 20px);
}
.content .post_side .post{
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin-top: 30px;
    font-family: 'Roboto';
}
.post .post_box{
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(119, 118, 118);
    padding: 1rem 0rem;
}
.post .post_box:last-child{
    border: none;
}
.post .post_box .post_img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.post .post_box img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;
}
.post .post_box img:hover{
    transform: scale(1.1);
}
.post_box .info_box{
    background: var(--first-color);
    width: 50%;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: -30px;
    border-radius: 1rem;
}
.post_box .post_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_box .post_info span a{
    color: white;
    margin: 0px 10px;
}
.post_box .post_info span a:hover{
    color: var(--second-color)
}
.post_box .post_info span a i{
    margin-right: 5px;
}
.post_box .post_content{
    margin-top: -20px;
}
.post_box .post_content h2{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Abhaya Libre', serif;
}
.post_content p{
    font-size: 1rem;
    font-family: 'Alegreya', serif;
}
.post_content button{
    border: none;
    outline: none;
    padding: 0.9rem 1.7rem;
    background: var(--first-color);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    transition: all 0.5s ease;
}
.post_content a button:hover{
    color: var(--second-color);
}

.recent_post .r_post_box:hover h2,
.post .post_content:hover h2{
    color: var(--second-color);
}

@media screen and (max-width: 995px) {
    .post_box{
        /* background: red; */
    }
    .post .post_box .post_img{
        height: 250px;
    }
    .post .post_box .info_box{
        width: 70%;
        margin: 0 auto;
        height: 30px;
        line-height: 30px;
        top: -20px;
    }
    .post_box .post_info span{
        font-size: 0.9rem;
        font-weight: 300;
    }
    .post_box .post_info span a{
        font-style: italic;
    }
}

@media screen and (max-width: 454px) {
    .post .post_box .info_box{
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    .post .post_box .info_box{
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 330px){
    .post .post_box .info_box span{
        font-size: 0.3rem;
    }
}
/* =========== Start Sidebar ========== */
.content .sidebar{
    /* background: blueviolet; */
    height: auto;
}
.sidebar .sidebar_content{
    padding-left: 0.5rem;
}
.sidebar .sidebar_content .recent_post .recent_heading,
.sidebar .sidebar_content .s_category .cat_heading{
    color: var(--first-color);;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    border-left: 1.3rem solid var(--first-color);
    height: 1.5rem;
    line-height: 1.5rem;
    padding-left: 10px;
    margin-top: 2rem;
    border-radius: 0.2rem;
}
.sidebar_content .s_category .s_cat_links{
    padding-left: 3.5rem;
    padding-top: 1rem;
}
.s_category .s_cat_links li a{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(49, 49, 49);
    transition: all 0.4s ease;
}
.s_category .s_cat_links li:hover,
.s_category .s_cat_links li a:hover{
    color: var(--second-color);
}

/* ======= Start Recent Posts =========  */
.recent_post .r_post_content{
    padding: 1rem;
}
.recent_post .r_post_content .r_post_box{
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 1rem 1rem;
}
.recent_post .r_post_content .r_post_box:last-child{
    border: none;
}
.r_post_content .r_post_box .r_post_info{
    width: 100%;
    background: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.r_post_box .r_post_info span{
    font-size: 0.65rem;
    margin: 0rem 0.4rem;
    padding: 0.3rem 0rem;
    text-align: center;
}
.r_post_box .r_post_info span a{
    color: white;
    transition: all 0.3s ease;
}
.r_post_box .r_post_info span a:hover{
    color: var(--second-color);
}
.r_post_info span i{
    padding: 0rem 0.2rem;
}
.r_post_content .r_post_box .r_post_img{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.r_post_content .r_post_box img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    /* overflow: hidden; */
    transition:  all 0.3s ease;
}
.r_post_content .r_post_box img:hover{
    transform: scale(1.2);
}
.r_post_content .r_post_box h2{
    font-size: 1.3rem;
    font-family: 'Aleo', serif;
}
.r_post_content .r_post_box p{
    font-size: 0.8rem;
}
.r_post_content .r_post_box button{
    font-size: 0.9rem;
    background: var(--first-color);
    color: white;
    padding: 0.4rem 0.6rem;
    outline: none;
    border: none;
    border-radius: 0.1rem;
}
.r_post_content .r_post_box button:hover{
    color: var(--second-color);
}

@media screen and (max-width: 1200px) {
    .recent_post .r_post_content .r_post_box{
        padding: 1rem 0rem;
    }
    .recent_post .r_post_content{
        padding: 1.3rem 0rem;
    }
}
@media screen and (max-width: 766px) {
    .recent_post .r_post_content{
        width: 40%;
    }
    .content .sidebar{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 432px) {
    .recent_post .r_post_content{
        width: 50%;
    }
}

/* =============== Start Footer ================  */

#footer{
    background-color: var(--first-color);
    color: white;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    /* padding-top: 1rem; */
}
#footer .fp{
    padding-top: 1rem;
}
#footer .container .row{
    display: flex;
    justify-content: space-between;
}
#footer .container h2{
    font-size: 1.7rem;
    font-weight: 700;
}
#footer .our_story{
    width: 400px;
}
#footer .our_links li{
    list-style: none;
}
#footer .our_links ul{
    margin-left: 1.5rem;
}
#footer .our_links li a{
    color: rgb(255, 255, 255);
    transition:  all 0.3s ease;
}
#footer .our_links li a:hover{
    color: var(--second-color);
}
#footer .social_media a{
    color: white;
    padding-left: 1rem;
    transition: all 0.3s ease;
}
#footer .social_media a:hover{
    color: var(--second-color);
}
#footer .subscribe{
    width: 18rem;
}
#footer .subscribe .input_field {
    width: 100%;
    display: flex;
    height: 40px;
    margin-top: 2rem;
}
.subscribe .input_field input{
    width: calc(100% - 50px);
    border: none;
    outline: none;
    background-color: rgb(219, 219, 219);
    padding: 0.3rem 0.7rem;
    border-radius: 5px 0px 0px 5px;
}
.subscribe .input_field input::placeholder{
    font-style: italic;
}
.subscribe .input_field button{
    width: 50px;
    border: none;
    outline: none;
    height: 100%;
    background: gray;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s ease;
    
}
.subscribe .input_field button:hover{
    color: var(--second-color);
}
.subscribe p{
    color: gray;
    font-style: italic;
    margin-top: 0.4rem;
}

@media screen and (max-width: 578px) {
    #footer .container{
        padding: 0 2rem;
    }
}

/* ============= End Footer ===================== */

/* ====================== Copyright Footer ===============  */
.copyright_footer{
    background: var(--third-color);
    display: flex;
    justify-content: center;
    color: white;
    height: 2rem;
    line-height: 2rem;
}
.copyright_footer p{
    font-size: 0.8rem;
}


/* ====================================== Single Page ========================================== */

.single_box{
    width: 100%;
    height: auto;
}
.single_box .single_img{
    width: 100%;
}
.single_box .single_img img{
    width: 100%;
}
.single_box .single_info_box{
    background: black;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single_box .single_post_info span{
    margin: 0 0.8rem;
}
.single_box .single_post_info span a{
    color: white;
    transition: all 0.5s ease;
}
.single_box .single_post_info span a:hover{
    color: red;
}
.single_box .single_post_info span a i{
    padding: 0 0.4rem;
}

.single_box .post_content{
    margin-top: 1rem;
}

@media screen and (max-width: 433px) {
    .single_box .single_post_info span{
        font-size: 0.8rem;
        margin: 0 0.3rem;
    }
    
}
@media screen and (max-width: 331px){
    .single_box .single_post_info span{
        font-size: 0.7rem;
        margin: 0 0.2rem;
    }
    
}


/* ======================================= About us ========================  */
.about{
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}
.about .about_heading{
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .about_heading h1{
    color: white;
    font-size: 4rem;    
}
.about .about_con{
    height: auto;
    padding: 5rem 0;
}
.about .about_content .about_img{
    width: 30rem;
    height: 25rem;
    overflow: hidden;
}
.about .about_content img{
    width: 100%;
    height: 100%;
    clip-path: circle();
    object-fit: cover;
}
.about .about_content .about_p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    font-size: 1.2rem;
}

@media screen and (max-width: 994px) and (min-width: 768px) {
    .about .about_content{
    }
    .about .about_content .about_p{
        font-size: 1rem;
        font-family: var(--fistfont-font-family);
    }
    
}

/* =============================== Contact us =============================  */
.contact_content{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
}
.contact_content .contact_heading{
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_content .contact_heading h1{
    font-size: 4rem;
    color: white;
}
.contact_content .container{
    max-width: 50rem;
    margin: 4rem auto;
}
.contact_content .container form{
    padding: 2rem 2rem;
    box-shadow: 1px 1px 1rem;
    max-width: 100%;
}
.contact_content .contact_form{
    width: 100%;
    background-color: var(--second-color);
}
.contact_content .textmsg{
    display: block;
}
.contact_content #msg{
    width: 100%;
}


/* ========================================== Admin Login Page ===================================  */
.login_page{
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_page h2{
    color: var(--second-color);
    font-weight: 700;
    padding: 1rem 0;
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_form label{
    font-size: 1.5rem;
    font-weight: 600;
}
.logo_img{
    width: 10rem;
    height: 10rem;
    clip-path: circle();
}
.logo_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========================== Admin Add Post ==========================  */

.add_post{
    background: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.add_post form{
    width: 100%;
    max-width: 70rem;
}

/* ======================== Admin user ================== */
.add_user{
    max-width: 50rem;
    margin: 0 auto;
}
.add_user form{
    padding: 2rem;
    background: gainsboro;
}

/* ============================== Admin Category ========================= */
.add_category {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_category form{
    width: 100%;
    max-width: 40rem;
    padding: 2rem 5rem;
    background: gainsboro;
}